@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@400;500&display=swap');

@layer components {
    * {
        @apply font-roboto
    }
    .normal-btn {
        @apply px-4 py-1 rounded text-xl transition-all font-roboto font-medium bg-mainBlue hover:bg-blue-500 m-1 text-white border-2 border-mainBlue
    }
    .border-btn {
        @apply px-4 py-1 rounded  text-xl font-roboto font-medium text-mainBlue transition-all m-1 border-2 border-mainBlue
    }
    .edit_link {
        grid-template-columns: auto 1fr auto;
        @apply bg-white shadow-lg rounded px-3 py-2 2xl:px-5 grid items-center gap-2 relative hover:bg-blue-200 transition-all;
    }
    .edit_link p {
        @apply col-start-2 col-end-4 text-xs 2xl:text-base font-poppins text-gray-500 hidden sm:block  sm:col-start-1 sm:col-end-4
    }
    .edit_link span {
        @apply rounded-full bg-gray-400 text-white sm:col-start-2 sm:col-end-3 justify-self-start self-center;
    }
    .edit_link_btn {
        @apply font-medium px-3 sm:py-1 sm:text-center 2xl:text-lg bg-mainBlue w-full text-white rounded-sm hover:bg-darkBlue sm:col-start-1 sm:col-end-4 sm:row-start-3 sm:row-end-4;
    }
    .edit_link h2 {
        @apply font-semibold font-railway sm:text-xl 2xl:text-2xl text-mainYellow mx-1 sm:col-start-1 sm:col-end-2 sm:row-start-1 sm:row-end-2
    }
    .info_container {
        @apply flex-1 max-w-[1500px] min-h-full mx-auto grid grid-cols-1 lg:grid-cols-[1fr_auto] grid-rows-[auto_auto] lg:grid-rows-1 items-center gap-4  p-4;
    }
    .info_subContainer {
        @apply max-w-3xl h-max;
    }
    .container_nav {
        @apply flex justify-between items-center;
    }
    .container_nav > h1 {
        @apply text-2xl font-semibold text-darkBlue tracking-wider;
    }
    .back_forward_link {
        @apply text-white text-2xl bg-mainYellow font-medium flex items-center justify-center hover:bg-opacity-60 focus:outline-yellow-600 focus:outline-offset-2 py-1 px-2 rounded;
    }
    .back_forward_link > span {
        @apply hidden sm:block font-poppins text-lg mx-2;
    }
    .description_para {
        @apply text-xs text-gray-500 text-center my-4;
    }
    .edit_info_form {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-2 relative;
    }
    .edit_info_form > p {
        @apply sm:col-start-1 sm:col-end-3 text-xs font-medium text-mainBlack;
    }
    .astrk {
        @apply text-mainYellow;
    }
    .formLabel {
        @apply text-mainBlue font-medium block font-poppins;
    }
    .form_control {
        @apply border-2 rounded px-2 py-1 w-full text-gray-700 focus:outline-mainYellow disabled:bg-gray-200 disabled:text-gray-400;
    }
    .reset-btn {
        @apply px-2 py-1 border-2 border-red-500 rounded text-red-500 font-medium mt-4 sm:mt-0;
    }
    .submit-btn {
        @apply px-2 py-1 border-2 border-green-500 hover:bg-green-600 active:bg-green-700 focus:outline-green-300 focus:bg-green-600 rounded text-white font-medium bg-green-500;
    }
    .added_info_container {
        @apply gap-1 p-2 rounded grid grid-cols-[repeat(auto-fit,_minmax(200px,1fr))] auto-rows-max
    }
    .nav_link {
        @apply bg-white shadow-lg p-4 rounded  m-1 hover:bg-blue-100 text-darkBlue hover:text-mainBlue cursor-pointer transition-all
    }
    .active_link {
        @apply bg-mainBlue p-4 rounded border-2 m-1 text-white transition-all
    }
    .pending_link {
        @apply p-4 rounded m-1 bg-opacity-50 bg-blue-100 text-mainBlue cursor-not-allowed transition-all
    }
    .add_new_btn {
        @apply rounded py-1 px-3 flex items-center justify-center font-semibold bg-mainYellow hover:bg-yellow-600 text-white transition-all
    }
    .add_new_btn > .plus-icon {
        @apply text-xl ml-2
    }
    .animation-wrapper {
        @apply bg-darkBlue bg-opacity-50 fixed w-screen h-screen top-0 left-0 grid place-items-center transition-opacity opacity-100
    }
    .template_link {
        @apply flex-none border-2 border-slate-300 bg-white rounded-md mx-2 flex items-center py-2 px-4 text-[#666] font-poppins hover:border-blue-200 hover:bg-blue-50 transition-all active:bg-blue-100
    }
    .template_link > span {
        @apply w-3 h-3 rounded-full bg-mainBlack mr-2
    }
}