@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@layer components {
    * {
        @apply font-roboto
    }
    .normal-btn {
        @apply px-4 py-1 rounded text-xl font-roboto font-medium bg-mainBlue m-1 text-white border-2 border-mainBlue
    }
    .border-btn {
        @apply px-4 py-1 rounded text-xl font-roboto font-medium text-mainBlue m-1 border-2 border-mainBlue
    }
    .edit_link {
        grid-template-columns: auto 1fr auto;
        @apply bg-white shadow-md rounded px-3 py-2 2xl:px-5 grid items-center gap-2 relative hover:bg-mainBlack hover:border-mainBlack transition-all;
    }
    .edit_link p {
        @apply col-start-2 col-end-4 text-xs 2xl:text-base text-gray-400 hidden sm:block  sm:col-start-1 sm:col-end-4
    }
    .edit_link span {
        @apply rounded-full bg-gray-400 text-white sm:col-start-2 sm:col-end-3 justify-self-start self-center;
    }
    .edit_link_btn {
        @apply px-3 sm:py-1 sm:text-center 2xl:text-lg bg-mainBlue w-full text-white rounded-sm hover:bg-darkBlue sm:col-start-1 sm:col-end-4 sm:row-start-3 sm:row-end-4;
    }
    .edit_link h2 {
        @apply font-semibold sm:text-xl 2xl:text-2xl text-mainYellow mx-1 sm:col-start-1 sm:col-end-2 sm:row-start-1 sm:row-end-2
    }
    .info_container {
        @apply flex-1 max-w-[1500px] h-max mx-auto grid grid-cols-1 lg:grid-cols-[1fr_auto] grid-rows-[auto_auto] lg:grid-rows-1 gap-4 lg:justify-items-center p-4;
    }
    .info_subContainer {
        @apply max-w-3xl self-center h-max;
    }
    .container_nav {
        @apply flex justify-between items-center;
    }
    .container_nav > h1 {
        @apply text-2xl font-semibold text-darkBlue;
    }
    .back_forward_link {
        @apply text-mainYellow text-2xl font-medium flex items-center justify-center hover:bg-gray-200 py-1 px-2 rounded-full;
    }
    .back_forward_link > span {
        @apply hidden sm:block font-normal;
    }
    .description_para {
        @apply text-xs text-gray-500 text-center my-4;
    }
    .edit_info_form {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-2;
    }
    .edit_info_form > p {
        @apply sm:col-start-1 sm:col-end-3 text-xs font-medium text-mainBlack;
    }
    .astrk {
        @apply text-mainYellow;
    }
    .formLabel {
        @apply text-mainBlue font-medium block;
    }
    .form_control {
        @apply border-2 rounded px-2 py-1 w-full focus:outline-mainYellow disabled:bg-gray-200 disabled:text-gray-400;
    }
    .reset-btn {
        @apply px-2 py-1 border-2 border-red-500 rounded text-red-500 font-medium mt-4 sm:mt-0;
    }
    .submit-btn {
        @apply px-2 py-1 border-2 border-green-500 rounded text-white font-medium bg-green-500;
    }
    .added_info_container {
        @apply bg-gray-200 p-2 lg:w-56 rounded lg:ml-10 grid grid-cols-[repeat(auto-fit,_minmax(200px,1fr))]
    }
}